<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <style>
      * {
          box-sizing: border-box;
          font-size: 16px;
      }

      body {
          overflow-x: hidden;
          background: #ddd7fa;
      }

      .input {
          text-align: left;
          position: fixed;
          width: 40%;
          margin-top: 45%;
          margin-right: 30%;
          margin-left: 30%;
          margin-bottom: 100px;
          padding: 10px;
      }

      .list {
          text-align: left;
          position: fixed;
          width: 40%;
          margin-top: 0%;
          margin-right: 30%;
          margin-left: 30%;
          padding: 10px;
          list-style-type: none;
          word-break: break-all;
      }

      #messages li {
          padding: 1px;
      }

    </style>
  </head>
  <body>
    <div>
        <ul class="list" id="messages"></ul>
        <form>
          <input class="input" id="mes" autocomplete="off" placeholder="Write a message..." />
        </form>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            const socket = io();
            socket.on('messages', function (result) {
                for (let i = 0; i !== result.length; i++) {
                    $('#messages').append($('<li>').text(result[i].message));
                }
            });
            $('form').submit(function(event) {
                socket.emit('chat message', $('#mes').val());
                $('#mes').val('');
                event.preventDefault();
            });
            socket.on('chat message', function(msg){
                let msgLen = msg.length;
                if (msgLen > 0) {
                    $('#messages').append($('<li>').text(msg));
                }
            });
        });
    </script>
  </body>
</html>
