<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1>Masik Page</h1>
    <p>Testing my own power</p>
    <% include templates/footer.ejs %>
  </body>
</html>
